#Home {
  width: 100%;
  min-height: calc(100vh - 100px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #9c9c9c;
}
#Homeleft {
  width: 45%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5%;
}
#Homeleft > h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  font-weight: 900;
  font-size: 72px;
}
#Homeleft > p {
  font-size: 20px;
  font-weight: 500;
}
#Homeleft > img {
  width: 100%;
  height: 100%;
}
#Homeright {
  width: 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 2%;
}
#Homeright > img {
  width: 200%;
  height: 130%;
}
#letsgoBtn {
  width: 307px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f8e00;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  font-size: 20px;
  cursor: pointer;
  box-shadow: #3f8e00;
}
@media (max-width: 1048px) {
  #Home {
    flex-direction: column-reverse;
  }
  #Homeleft {
    width: 80%;
    gap: 2%;
  }
  #letsgoBtn {
    margin-top: 2%;
  }
  #Homeright{
    height: auto;
  }
}
