@font-face {
  font-family: Agdasima;
  src: url(./components/fonts/Agdasima-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
  font-family: Agdasima;
  letter-spacing: 3px;
}
a {
  text-decoration: none;
  color: black;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: black;
}
#root {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
